* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
.a_li {
  color: #111;
  border: 3px solid white;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
}
.a_mouvier {
  text-decoration: none;
  color: white;
}
.searchInput {
  background-color: black;
  color: grey;
  border-radius: 8px;
}
.material-icons {
  background-color: black;
  color: white;
}
.searchButton {
  border-radius: 10px;
}
main {
  font-family: "Heebo", sans-serif;
  background-color: #111;
}

.landing {
  min-height: 100vh;
  background-size: cover;
  padding: 0rem 5rem;
  background: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  background: none;
}
.nav-links {
  display: flex;
  list-style: none;
  background: none;
}
.nav-links li {
  padding-left: 6rem;
  font-size: 1.2rem;
  background: none;
}
#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
  background: none;
}
.footer-links li {
  display: inline;
  float: left;
  text-align: center;
  padding-left: 14em;
  background: none;
}

footer {
  color: white;
  padding: 3em;
  margin-top: 700px;

  font-size: 1.2em;
  background: none;
}
.box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
}
.slide-img {
  height: 450px;
  position: relative;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: calibri;
}
.type {
  display: flex;
  flex-direction: column;
}
.type a {
  color: white;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}
.type span {
  color: rgba(255, 255, 255, 0.5);
}
.price {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: poppins;
  letter-spacing: 0.5px;
}
.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(92, 95, 236, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: calibri;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.buy-btn:hover {
  color: #ffffff;
  background-color: black;
  transition: all ease 0.3s;
}
.overlay {
  visibility: hidden;
}
.slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space {
  height: 100px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;

  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.MAIN {
  margin-top: 50px;
  max-height: 500px;
}

.user_img,
.span_img {
  display: inline;
}
.imf_logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.user_img {
  position: absolute;
  margin-top: 60px;
  margin-left: 30px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.div1 {
  position: relative;
}
.span_img {
  position: absolute;
}
.span_img,
.div_liste {
  display: inline;
}
.span_img,
.div_liste {
  float: left;
  position: absolute;
}
.div_liste {
  margin-left: 600px;
}
.MAIN .div1 .div_liste .p7 {
  position: absolute;
  top: 22px;
  right: -500px;
}
.MAIN .div1 .div_liste .p8 {
  position: absolute;
  top: 51px;
  right: -610px;
}
.MAIN .div1 .div_liste .p9 {
  position: absolute;
  top: 80px;
  right: -710px;
}

.div_liste p {
  color: white;
}
.p7,
.p8,
.p9 {
  float: left;
  position: absolute;
}
.p8 {
  margin-left: 150px;
  margin-top: -30px;
}
.p9 {
  margin-left: 300px;
  margin-top: -60px;
}

.pof {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  margin-top: 300px;
  height: 100px;
}

.pro {
  margin-top: 35px;
  margin-left: 150px;
}

.pof .pro {
  float: Left;
  position: absolute;
  left: 350px;
}
.prf_p {
  color: white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  max-width: 120px;
  display: inline;
  margin: 10px;
}

.private img {
  position: absolute;
  height: 440px;
  left: 650px;
  top: 800px;
  height: 8px;
}

.btnholder {
  width: 300px;
  margin: 0 auto;
  /* float: left; */
  /* padding:150px 10px ; */
}
.btn {
  float: left;
  /* padding: 0 0 0 20px; */
  position: absolute;
  left: 70px;
  top: 180px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 135px;
  margin: 140px 20px 0;
  padding: 8px 15px;
  line-height: 20px;
  border-radius: 20px;
  background: transparent;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid rgba(225, 225, 225, 0.5);
}

.biog {
  position: absolute;
  left: 245px;
  top: 260px;
}
